body {
  margin: 0;
  background: linear-gradient(115.67deg, #edc1d3 7.14%, #91bdec 99.42%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-modal {
  scrollbar-width: none;
  text-align: center;
  overflow-y: scroll;
}
.box-modal-description {
  width: 352px;
  height: 472px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  padding: 39px 74px;
}
.descrition-modal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0;
  text-align: center;
  color: #000000;
}
.project-modal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #133f9e;
}
.save {
  width: 120px;
  height: 34px;
  color: white;
  background: #133f9e;
  border-radius: 30px;

  margin-top: 25px;
}
.content {
  text-align: start;
}
.text-project {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.0676923px;
  color: #000000;
  margin-top: 29px;
  margin-bottom: 8px;
}
.text-Goal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.0676923px;
  color: #000000;
  margin-bottom: 8px;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.0676923px;
  color: #000000;
  margin-bottom: 8px;
}
.text-li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.0676923px;
  color: #000000;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-edit {
  width: 342px;
  height: 97px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px black solid;
}
.option-edit {
  height: 31px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px black solid;
}
.check {
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}
