body {
  margin: 0;
  background: linear-gradient(115.67deg, #edc1d3 7.14%, #91bdec 99.42%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-modal {
  scrollbar-width: none;
  text-align: center;
  overflow-y: scroll;
}
.content-modal::-webkit-scrollbar {
  display: none;
}
.box-modal-description {
  width: 352px;
  height: 300px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  padding: 39px 74px;
}
.descrition-modal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
  text-align: center;
  color: #133f9e;
}
.project-modal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #f3477a;
}
.borde-new {
  width: 323px;
  text-align: start;
  border: 1px solid black;
  padding: 10px;
}
.box-new {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.text-project {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  letter-spacing: -0.0676923px;

  color: #000000;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0676923px;

  color: #000000;
}
