p {
  margin: 0;
}

body {
  margin: 0;
  background: linear-gradient(115.67deg, #edc1d3 7.14%, #91bdec 99.42%);
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-sing {
  position: absolute;
  top: 42.67%;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 312px;
  height: 311px;
  background-color: #000000b2;
  border-radius: 30px;
}
.log {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 9px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #edc1d3;
}
.in {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 9px;

  display: flex;
  align-items: center;
  margin-left: 8px;
  color: #91bdec;
}
.input {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 30px;
  padding-left: 10px;
  height: 31px;
}
.mail {
  margin-top: 33px;
  margin-bottom: 16px;
}
.password {
  margin-bottom: 16px;
}
.log-up {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  margin-bottom: 16px;
  color: #91bdec;
  margin-left: 4px;
}
.btn-log-in {
  width: 139px;
  height: 34px;
  background: #884cb2;
  border-radius: 30px;
  border: 1px solid black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  margin: 0;
  padding: 12px;
  color: #ffffff;
}
.log-in {
  width: 218px;
  position: absolute;
  top: 12.84%;
  left: 50%;
  transform: translate(-50%, -0%);
  text-align: center;
}
.title {
  display: flex;
  justify-content: center;
}
.log-up-block {
  display: flex;
  justify-content: center;
}
