.add-Project {
  background-color: #133f9e;
  height: 100%;
  padding: 8px 20px 8px 20px;
  border-radius: 10px;
  color: white;
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  margin-left: 23px;
}

.add-Project img {
  margin-right: 5px;
}
.add-Project.button-on {
  display: none;
}
.add-Project img {
  margin-right: 5px;
}
.add-Project.button-on {
  padding: 10px 5px 10px 10px;
  display: none;
}
@media screen and (max-width: 600px) {
  .add-Project.button-on {
    display: block;
  }
  .add-Project {
    display: none;
  }
}
